datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

option {
    padding: 5px;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

#spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 10px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    z-index: 99999;
}

#spinner-div {
    width: 100%;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 99998;
}

.stockName {
    display: inline-block;
    padding-left: 2%;
}

.stockTicker {
    display: inline-block;
}

.cards {
    width: 100%;
    height: fit-content;
    margin-top: 3%;
    padding-top: 1%;

    border-radius: 8px;
    border: 2px solid black;
    border-color: black;
}

#home-link {
    text-decoration: none;
    color: white;
}

#home-link:hover {
    color: #ffc107;
}

.range-wrap {
    position: relative;
    margin: 0 auto 2rem;
}

.bubble {
    background-color: blue;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

.bubble::after {
    position: absolute;
    width: 10px;
    height: 2px;
    background: blue;
    top: -5px;
    left: 50px;
}